nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 0.75rem;
    z-index: 100;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: color-mix(in srgb, var(--background-color), transparent 75%);
    border-bottom: 1px solid color-mix(in srgb, var(--text-color), transparent 95%);
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

#nav-search {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: max(33.33vw, 22rem);
}

#nav-search-input {
    width: 100%;
    padding: 0.5rem 5rem 0.5rem 2rem;
    border-radius: 0.25rem;

    border: 1px solid color-mix(in srgb, var(--text-color), transparent 90%);
    background-color: color-mix(in srgb, var(--background-color), transparent 85%);
    color: var(--text-color);

    font-size: 0.875rem;
    outline: none;
}

#nav-search-input::placeholder {
    color: color-mix(in srgb, var(--text-color), transparent 60%);
}

#nav-search-input:focus {
    border-color: color-mix(in srgb, var(--text-color), transparent 60%);
    background-color: color-mix(in srgb, var(--background-color), transparent 65%);
}

#nav-search-icon {
    margin-left: 0.5rem;
    position: absolute;
    opacity: 0.6;
    pointer-events: none;
}

#nav-search-shortcut-wrapper {
    position: absolute;
    right: 0.5rem;
    display: flex;
    gap: 0.25rem;
    pointer-events: none;
}

#nav-search-shortcut-wrapper kbd {
    font-size: 0.75rem;
    padding: 0.1rem 0.35rem;
    border-radius: 4px;

    border: 1px solid color-mix(in srgb, var(--text-color), transparent 85%);
    background-color: color-mix(in srgb, var(--background-color), transparent 70%);
    color: color-mix(in srgb, var(--text-color), transparent 30%);
}